<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Stocks</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <br>
    <button mat-raised-button color="primary" (click)="AddCompany()">Add Stock</button>
    <br>
    <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="Id" >
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="Exchange">
        <th mat-header-cell *matHeaderCellDef> Exchange </th>
        <td mat-cell *matCellDef="let element"> {{element.exchange}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="Ticker">
        <th mat-header-cell *matHeaderCellDef> Ticker </th>
        <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="Isin">
        <th mat-header-cell *matHeaderCellDef> Isin </th>
        <td mat-cell *matCellDef="let element"> {{element.isin}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Website">
        <th mat-header-cell *matHeaderCellDef> Website </th>
        <td mat-cell *matCellDef="let element"> {{element.website}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="example-button-row">
            <button mat-stroked-button (click)="EditCompany()">Edit</button>
            <button mat-stroked-button (click)="DeleteCompany(2)">Delete</button>
          </div>      
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
  </mat-card-content>
</mat-card>

<mat-progress-bar mode="indeterminate" *ngIf="isHidden"></mat-progress-bar>

<br>

